__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.git/
.gitignore
.vscode/
.idea/
*.log
database/challans.db
uploads/captured_images/*
!uploads/captured_images/.gitkeep
node_modules/
.DS_Store
